
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    background-color: #a80000;
    color: #fff;
    padding: 5px;
    margin: 0px;
    text-align: start;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    position: sticky;
    top: 0;
    left: 0;
    width: 99.1%;
}

.huvudtext {
    font-size: 40px;
    margin: 0;
    float: left;

}

.huvudbild {
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.menus {
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    right: 7%;
    position: absolute;
    display: none;
    margin-top: -30px;
}

#check {
    display: none;
    position: absolute;
}



@media(max-width: 700px){
    .menus{
        display: inline-block;
    }

    #check:checked~.menus #menus_icon{
        display: none;
    }

    .menus #close_icon {
        display: none;
    }
    
    #check:checked~.menus #close_icon{
        display: inline-block;
    }

    .overbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0px;
        width: 91%;
        height: 0;
        background: #5f00009c;
        opacity: 0%;
        overflow: hidden;
        backdrop-filter: blur(10px);
        text-align: center;
    }

    #check:checked~.overbar {
        height: 17.7rem;
        opacity: 100%;
    }

    header{
        width: 100%;
        height: 45px;
    }
    .huvudtext{
        font-size: 20px;
        margin-top: 10px;
    }
    .huvudbild{
        width: 70px;
        height: 70px;
        margin: 5px 0px;
    }

    .overbar a {
        display: block;
        margin: 0.6rem 0;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    text-align: end;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-shadow: #fff 0px 0px 20px;
}

nav {
    display: inline;
}

main {
    padding: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: larger;
    color: #fff;
}

.More {
    color: #a80000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.More:hover {
    color: #ff1515;
    text-shadow: #a80000 0px 0px 10px;
}

i {
    color: #a80000;
    text-shadow: #a80000 2px 0 10px;
}

.First_video {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: larger;
    color: #fff;
}

.FVtext{
    padding: 30px;
    margin: 15px;
}

.Yt {
    box-shadow: #000000 0px 0px 20px;
    margin: 20px;
}

.New_video {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: larger;
    color: #fff;
    display: flexbox;
}

.Now_Yt {
    box-shadow: #000000 0px 0px 20px;
}

.perbtn {
    background-color: #a80000;
    color: #fff;
    text-decoration: none;
    font-family: Impact;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    transition: ease-out 0.4s;
}

.perbtn:hover {
    color: #a80000;
    background-color: #fff;
    box-shadow: #ff4b4b 0px 0px 15px;
    padding: 12px 30px;
    transition: ease-in-out 0.5s;
}

.SUBS {
    margin-top: 50px;
}

#About {
    background: #5a0000;
    padding: 25px 0px;
    margin: 50px 0px;
    margin-top: 75px;
    width: 100%;
}

.about{
    margin: 50px 400px;
}               

mark{
    background-color: #a80000;
}

.bek {
    background: #5a0000;
    padding: 25px 0px;
    margin: 50px 0px;
    margin-top: 50px;
    width: 100%;
}

.PerM {
    margin: 25px;
}

.PerM h1 {
    padding-top: 30px;
}

.person2 {
    display: inline-flex;
    padding: 0px 50px;
}

.person1 {
    display: inline-flex;
    padding: 0px 300px;
}

.gruppB {
    margin: 70px;
    padding: 20px;
}

.person2 div a {
    text-decoration: none;
    color: #cccccc;
    display: block;
}

.person2 div img {
    cursor: pointer;
}

.person1 div a {
    text-decoration: none;
    color: #cccccc;
    display: block;
}

.person1 div img {
    cursor: pointer;
}

.imageBox{
    border-radius: 200px;
    border: 5px solid #fff;
}

.gruppA{
    float: left;
    padding-bottom: 130px;
}

@media (max-width: 1440px){
    .about{
        margin: 25px 250px;
    }
    .person2{
        margin: 0;
        padding: 0px 50px;
    }
    .person1{
        display: inline-block;
        margin: 0;
        padding: 50px;
    }
}

@media (max-width: 1100px){
    .about{
        margin: 10px 25px;
    }
    .gruppB {
        margin: 50px;
        padding: 20px;
    }
    .person2{
        padding: 0px;
    }
    .person1{
        padding: 0px;
    }
    .PerM{
        margin: 10px;
    }
}

@media (max-width: 900px){
    .person2{
        display: inline;
    }
    
    .about nav h3{
        font-size: 20px;
    }

}

@media (max-width: 700px) {
    .Yt{
        width: 250px;
        height: 141px;
    }
    .Now_Yt{
        width: 300px;
        height: 169px;
    }
    .imageBox {
        width: 150px;
    }
    .gruppB {
        margin: 20px;
        padding: 20px;
        display: block;
    }

    .gruppA {
        margin: 0px;
        padding: 0px;
        display: block;
    }



    .bek {
        width: 100%;
    }
    #About {
        width: 100%;
    }
    .PerM{
        margin: 20px;
    }
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #7a0000;
    box-shadow: #000000 0px 0px 15px;
}

.emailF{
    display: flex;
    margin: -30px 40px;
    padding-bottom: 50px;
    padding-top: 10px;

}

.emailF h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 20px 10px;
    padding-left: 20px;
    position: static;
}

#email_icon{
    position: absolute;
    color: #fff;
    padding-top: 0px;
    padding-top: 19px;
}

.emailMf{
    position: absolute;
    padding: 6px 0px; 
    padding-top: 22px;
    padding-left: 95px;
}

.emailMf1{
    position: absolute;
    padding: 5px 0px; 
    padding-top: 40px;
    padding-left: 95px;
}

.emailMf a{
    color: #ff4a4a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.emailMf1 a{
    color: #ff4a4a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titC {
    font-family:   "Angkor", serif;
    color: #fff;
}

.CRunder {
    color: #fff;
}
